[submodule "modules/lifx_cli"]
	path = modules/lifx_cli
	url = https://github.com/Rawa/lifx_cli
[submodule "modules/upload"]
	path = modules/upload
	url = https://github.com/Rawa/upload
[submodule "modules/lifx-cli"]
	path = modules/lifx-cli
	url = https://github.com/Rawa/lifx-cli
