! Base16 Default
! Scheme: Chris Kempson (http://chriskempson.com)
#include "/home/rawa/.Xresources.d/colors"

URxvt.termName:             rxvt-256color
Xcursor.size:               10

URxvt*foreground:           base07
URxvt*background:           base01

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

! Fonts
URxvt*font:                 xft:Inconsolata for Powerline:style=Medium:pixelsize=25:antialias=true:hinting=slight
URxvt*boldFont:             xft:Inconsolata for Powerline:style=Medium:pixelsize=25:antialias=true:hinting=slight

URxvt.keysym.C-Up:          perl:font-size:increase
URxvt.keysym.C-Down:        perl:font-size:decrease
URxvt.keysym.C-S-Up:        perl:font-size:incglobal
URxvt.keysym.C-S-Down:      perl:font-size:decglobal

! Fix font spacing
URxvt*letterSpace:          -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.matcher.button:       1
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  xdg-open
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
URxvt.keysym.M-C-v:         perl:clipboard:paste_escaped

! Rofi related
! Tab completion
rofi.kb-row-select: Tab
rofi.kb-row-down:   Control+j
rofi.kb-row-up:     Control+k
rofi.color-enabled: true
! Colors           bg     , fg,    , bgalt  , hlfg   , hlbg
rofi.color-normal: #181818, #42a5f5, #282828, #42a5f5, #282828
rofi.color-window: #181818, #282828
rofi.width:         25
rofi.lines:         15
rofi.font:          Inconsolata\ for\ Powerline 20

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Bell
URxvt.urgentOnBell:         true

! Display settings
Xft.dpi: 127
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
