# Local/private config goes in the include
[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.aliases

[core]
	excludesfile = /Users/rawa/.gitignore
  editor = nvim

[push]
  default = current

[pull]
  default = current
  rebase = true

[diff]
  mnemonicprefix = true
  tool = vimdiff

[difftool]
  prompt = false

[branch]
  autosetuprebase = always

[apply]
  whitespace = nowarn

[mergetool]
  keepBackup = false

[rebase]
	autosquash = true

#[color]
#  branch = auto
#  diff = auto
#  status = auto
#
#[color "branch"]
#  current = red reverse
#  local = blue
#  remote = green
#
#[color "diff"]
#  meta = yellow
#  frag = magenta
#  old = red bold
#  new = green
#  plain = white
#
#[color "status"]
#  added = yellow
#  changed = green
#  untracked = cyan

#[commit]
#	gpgsign = true
#
#[gpg]
#  program = /usr/local/bin/gpg
[user]
	email = david.goransson@mullvad.net
	name = David Göransson
  signingkey = F0D88435B0ECCCBC1621EF0F9C35DD4E5E6D6CBE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
