[Unit]
Description=Xautolock Daemon

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -locker "/home/rawa/.bin/lock.sh -l dimblur" -time 10

[Install]
WantedBy=default.target
