[Unit]
Description=Xautolock Daemon

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -locker "i3lock -c 000000" -time 10

[Install]
WantedBy=default.target
